.DS_Store
*.db
flights
temp_*.pdf
web/content/trips/[0-9]*
web/content/trips/X*
web/content/invoices/*
web/content/passengers/*
!web/content/passengers/frequent-flyers.md
!web/content/passengers/most-miles.md
.env

# Node deps
web/node_modules/*

# Hugo build
web/public
web/.hugo_build.lock
web/resources/_gen/
web/assets/jsconfig.json
web/hugo_stats.json